* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.top {
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 40px 150px;
    padding-bottom: 0;
}

.graph {
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: flex; */
}

header {
    background-image: linear-gradient(to top,#008081,#00a695);
    font-family: 'Fjalla One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    padding: 30px;
}
    
.tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    background-color: #808080;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 15px;
}

.tooltip::before {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top-color:#808080;
    bottom: -20px;
    left: 50%;
    margin-left: -6px;
}


button {
    padding: 8px 20px;
    color: white;
    background: #008081;
    text-transform: uppercase;
    border-radius: 6px;
}

button:hover {
    background: #00a695;
}

#slider-div {
    display: flex;
    align-items: center;
}

#date-slider {
    width: 300px;
    margin-left: 25px;
}

.title {
    font-size: 20px;
    color: #20392c;
    font-family: 'Spicy Rice', cursive;
}

#year {
    color: white;
    font-size: 30px;
    font-family: 'Spicy Rice', cursive;
}